.wallet-container{
    border: 1px solid black;
    height: auto;
    padding: 12px 10px;
    width: auto;
    border-radius: 20px;
    display: flex;
    justify-content:center;
    /* align-items: space-between; */
    flex-direction: column;
    
}
.btn-container{
    display: flex;
    /* gap: 0.3rem; */
    justify-content: center;
    align-items: center;
}
.button{
    border: 0px solid black;
    background-color: rgb(87, 87, 237);
    padding:  5px ;
    /* height: 2rem; */
    /* width: auto; */
    border-radius: 5px;
    color:white;
    text-align: center;
}
